.testimonial-slider .slick-slide {
  padding: 0px 10px;
}

.bg-footer {
  background-image: url("https://s3-alpha-sig.figma.com/img/2902/7541/c7407c75a354ae10b5c15b9ed73449c6?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=S48F6bQtUr7AxRrYtwJBt5qdv6phJE9BM0T5oiYxqNzbVsR0Y6moMSfC4IWdLhgb-ziA41SZ9Z4M6dYeBmP3n1SPeYyREcibB-nxHaeQnTHqBovDVb7QqsMmDlWyjaLeOdHniAboIXD1MuxGLFXqtiW-hv7YRnW49wxF6B2bkeg~RFe~xubLh3K2WqOv9aK7rCz0fMUIHi7AqzonI6DE6Drv4aQn06V-0kWIBjhZTeAQEIyU5powUFrUdTGTHK1pBdNT8j3gVpgqeofjtv-fjkiVpZFiFLN5wvk6Jf0k8SAyQPJ7bRKwjWvFai74g-8sfUvRKGsyabIZVS0X8lFCGw__");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.slider-container .slick-slide {
  padding: 0px 10px; /* Adjust the margin as needed */
}

.Montserrat-font {
  font-family: "Montserrat", sans-serif;
}
